vaadin-grid-cell-content {
    text-align: center;
    zoom: 90%;
}


vaadin-grid-column-group {
    color: red;
}

.korekta {
    color: red;
}

.plan {
    color: blue;
}

/* works!*/
vaadin-grid-cell-content .field-plan {
    color: blue;
    width: 90px;
}

vaadin-grid-cell-content .field-kor {
    color: red;
    width: 90px;
}

:host([part="increase-button"][part$='button'] ) {
    color: red;
}

[part$='button']::before {
    font-family: 'lumo-icons';
    display: block;
    color: red;
}

:host([has-controls]) [part='input-field'] {
    padding: 0;
    color: red;
}

vaadin-integer-field {
    color: blue;
    padding: 0;
}

vaadin-input-container {
    color: pink;
}

vaadin-grid {
    zoom: 90%;
}

.gridZamSum  {
    color: red;
    background-color: yellow;
}